

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
}

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }


body {
    background-color: black;
    display: flex;
    justify-content: center;
    color:#837E9F;    
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
    
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    
}


.coluna {
    display: flex;
    flex-direction: column;
}

.centralizar {
    display: flex;
}

.corpo {
    background-color: #22212C;
    display: flex;  
   
}



.card {
    background-color: #302F3D;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
    
}

.twobox {
    display: flex;
    
    

}

.lateral {
    background-color: #22212C;

}

.principal {
    background-color: #22212C;
    
}

.squarel1 {
    width: 348px;
    height: 292px;
    margin-top: 40px;
    margin-left: 40px;
    text-align: center;
    padding-top: 32px;    
    
}

.nome {
    padding-top: 30px;
}

.subtitulo {
    padding-top: 10px;
    font-weight: 300;
    line-height: 16px;
}

.squarel2 {
    width: 348px;
    height: 348px;  
    margin-top: 30px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}


.icons {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;   
    padding-right: 20px;   
    
}

.imgicons {
    background-color: pink;
    padding-right: 20px;   
    
}

.squarel3 {
    width: 348px;
    height: 208px;
    margin-top: 30px;
    margin-left: 30px;

}

.squarel4 {
    width: 348px;
    height: 349px;
    margin-top: 30px;
    margin-left: 40px;
}

.squarel5 {
    width: 348px;
    height: 352px;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 19px;
}

.squarer1 {
    margin-top: 40px;
    width: 952px;
    height: 86px;
    margin-left: 60px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}

.squarer2 {
    margin-top: 31px;
    width: 461px;
    height: 186px;
    margin-left: 60px;
    display: block;
    padding-left: 30px;
    padding-top: 30px;
    align-items: center;
    
    
}

.squarer3 {
    margin-top: 30px;
    width: 461px;
    height: 186px;
    margin-left: 30px;
    margin-right: 40px;
    display: block;
    padding-left: 30px;
    padding-top: 30px;
    align-items: center;
    
    
}

.squarer4 {
    margin-top: 30px;
    width: 952px;
    height: 86px;
    margin-left: 60px;
    margin-right: 40px;
    display: flex;
    padding-left: 30px;
    align-items: center;
    
}

.squarer5 {
    margin-top: 30px;
    width: 952px;
    height: 201px;
    margin-left: 60px;
    margin-right: 40px;
    display: flex;
    padding-left: 30px;
    align-items: center;
}


.linguagens {
    background-color: #CB92B1;
    border-radius: 30px;
    width: 86px;
    height: 24px;
}

.rodape {

    height: 40px;
    text-align: center;
    background-color:#22212C;

    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #837E9F;
    
}